@import "admin-lte/plugins/fontawesome-free/css/all.min.css";
@import "admin-lte/plugins/toastr/toastr.min.css";
@import "tom-select/dist/css/tom-select.bootstrap4.min.css";
@import "admin-lte/dist/css/adminlte.min.css";
